@import "../../styles/global";

.choose {
  margin-top: 250px;

  h2 {
    margin-top: 100px;
    margin-left: 100px;
    max-width: 500px;
  }

  .choose-wrapper {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto 0;

    .item-1 {
      height: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-content: center;

      .item-box {
        height: 500px;
        background-color: white;
        width: 350px;
        border-radius: 100px 0px 0px 0px;
        // border: 1px solid black;
        box-shadow: 3px 3px 8px -1px rgba(128, 125, 128, 1);
        display: flex;
        justify-content: center;
        position: relative;

        &.-second {
          border-radius: 0px 0px 0px 100px;
        }

        &.-third {
          border-radius: 0px 100px 0px 0px;
        }

        .top-small-div {
          position:absolute;
          top: 0;
          height: 33%;

          .small-box {
            width: 100px;
            height: 60px;
            border: 1px solid black;
            margin-top: 100px;
          }
        }

        .bottom-small-div {
          position: absolute;
          bottom: 0;
          height: 55%;
          text-align: center;

          h2 {
            margin-top: 0;
            margin-left: 0;
            color: $primary-blue;
          }

          h3 {
            line-height: 30px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 15px;
          }
        }
      }
    }
  }
}