@import "../../styles/global";

.isc-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 50px
}

.box {
  width: 20%;
  margin: 50px 1px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    margin: 0 auto;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

@media only screen and (max-width: 700px) {
  .box {
    width: 49%;
  }
}