@import "../../styles/global";

.container {
  width: 100%;
  height: 100%;

  .heading {
    width: 100%;
    height: 100vh;

    .crossline-div {
      width: 95%;
      height: 95%;
      background-image: url("../../images/header-image4.jpg");
      background-position: 50% 50%;
      background-size: 120%;
      transform: rotate(0deg);
      position: absolute;
      top: -100px;
      z-index: -1;
      border-radius: 0 0 100% 0;
    }

    .gradient {
      width: 100%;
      height: 100%;
      border-radius: 0 0 100% 0;
      opacity: 0.8;
      background: $primary-orange;
    }

    .top-div {
      width: 100%;

      .flex-item {
        display: flex;
        justify-content: flex-start;
        margin: 50px 50px 0 100px;

        h1 {
          font-size: 45px;
          font-weight: bold;
          text-transform: lowercase;
          color: #fff;
          max-width: 600px;
        }
      }
    }

    .bottom-div {
      width: 100%;
      height: 100%;

      .flex-text {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 0 100px;

        h2 {
          font-size: 26px;
          color: #fff;
          max-width: 500px;
        }
      }

      .flex-button {
        display: flex;
        justify-content: flex-start;
        margin: 50px 50px 0 100px;
        width: 250px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    .heading {
      height: auto;
      .top-div {
        width: 100%;  
        .flex-item {
          h1 {
            font-size: 30px;
            font-weight: bold;
            text-transform: lowercase;
            color: #fff;
            max-width: 400px;
          }
        }
      }
      .bottom-div {
        .flex-text {
          h2 {
            font-size: 20px;
            color: #fff;
            max-width: 300px;
          }
        }
  
        .flex-button {
          margin: 25px 50px 75px 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .container {
    .heading {
      .crossline-div {
        width: 100%;
        border-radius: 0 0 0 0;
      }
  
      .gradient {
        border-radius: 0 0 0 0;
      }
      height: unset;
      .top-div {
        width: 100%;  
        .flex-item {
          margin: 50px 50px 0 25px;
          h1 {
            font-size: 18px;
            font-weight: bold;
            text-transform: lowercase;
            color: #fff;
            max-width: 225px;
          }
        }
      }
      .bottom-div {
        .flex-text {
          display: flex;
          justify-content: flex-start;
          margin: 0 0 0 25px;
  
          h2 {
            font-size: 16px;
            color: #fff;
            max-width: 230px;
          }
        }
  
        .flex-button {
          margin: 25px 50px 45px 25px;
          width: 150px;
        }
      }
    }
  }
}

@keyframes bounce {

  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
