@import "../../styles/global";

.cta {
  background-color: $primary-orange;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 8px solid $accent-orange;
  width: 100%;
  cursor: pointer;

  &:hover{
    background-clip: padding-box;
    background-color: $highlight-orange;
    border-top: 4px solid transparent;
    border-bottom: 4px solid $accent-orange;
  }
}

.cta-sm {
  background-color: $primary-orange;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 5px solid $accent-orange;
  width: 175px;
  cursor: pointer;

  &:hover{
    background-clip: padding-box;
    background-color: $highlight-orange;
    border-top: 2.5px solid transparent;
    border-bottom: 2.5px solid $accent-orange;
  }
}

.btn {
  background-color: $primary-blue;
  color: white;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 8px solid $accent-blue;
  cursor: pointer;

  &:hover{
    background-clip: padding-box;
    background-color: $highlight-blue;
    border-top: 4px solid transparent;
    border-bottom: 4px solid $accent-blue;
  }
}

.btn-sm {
  background-color: $primary-blue;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 5px solid $accent-blue;
  width: 175px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  &:hover{
    background-clip: padding-box;
    background-color: $highlight-blue;
    border-top: 2.5px solid transparent;
    border-bottom: 2.5px solid $accent-blue;
  }
}

@media only screen and (max-width: 1280px) {
  .btn {
    background-color: $primary-blue;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 8px solid $accent-blue;
    cursor: pointer;
  
    &:hover{
      background-clip: padding-box;
      background-color: $highlight-blue;
      border-top: 4px solid transparent;
      border-bottom: 4px solid $accent-blue;
    }
  }
  .cta {
    background-color: $primary-orange;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 8px solid $accent-orange;
    width: 100%;
    cursor: pointer;
  
    &:hover{
      background-clip: padding-box;
      background-color: $highlight-orange;
      border-top: 4px solid transparent;
      border-bottom: 4px solid $accent-orange;
    }
  }
}

@media only screen and (max-width: 700px) {
  .btn {
    background-color: $primary-blue;
    color: white;
    padding: 7px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 8px solid $accent-blue;
    cursor: pointer;
  
    &:hover{
      background-clip: padding-box;
      background-color: $highlight-blue;
      border-top: 4px solid transparent;
      border-bottom: 4px solid $accent-blue;
    }
  }
  .cta {
    background-color: $primary-orange;
    color: white;
    padding: 7px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 8px solid $accent-orange;
    width: 100%;
    cursor: pointer;
  
    &:hover{
      background-clip: padding-box;
      background-color: $highlight-orange;
      border-top: 4px solid transparent;
      border-bottom: 4px solid $accent-orange;
    }
  }
}