@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$primary-blue: #009fdf;
$accent-blue: #006f9c;
$highlight-blue: #00adf2;

$primary-orange: #ff8200;
$accent-orange: #b25b00;
$highlight-orange: #ff9b33;

body {
   font-family: 'Open Sans', sans-serif;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 26px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

.custom-checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transform: translateY(6px);
  img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    margin-top: 4px;
    display: block;
  }
}
.checkbox-false {
  img {
    display: none;
  }
}
.footer {
  margin-top: 100px;
  width: 100%;
  height: 250px;
  background-color: #006f9c;

  @media  (max-width: 450px) {
    margin-top: 0px;
    height: 120px;
  }

  &.-insurance {
    margin-top: 0px;
  }
}

