@import "../../styles/global";

.tips {
  h2 {
    margin: 100px 0px 150px 100px;
    max-width: 500px;
  }

  .tips-bg {
    background: $primary-blue;
    width: 775px;
    height: 325px;
    margin-top: 100px;
    margin-right: auto;
    position: relative;
    border-radius: 0 40px 0 0;
    .controls {
      position: absolute;
      right: 50px;
      top: 100px;
      width: 75px;
      .ctrl-btn {
        border: 1px solid #fff;
        background: #fff;
        height:75px;
        width:75px;
        cursor:pointer;
        margin-top: 3px;
        color: $primary-blue;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .tips-txt-box {
      position: absolute;
      width: 525px;
      height: 350px;
      top: -90px;
      margin-left: 75px;
      background: #fff;
      border-radius: 40px 0 0 0;
      border: 3px solid grey;
      h4 {
        max-width: 200px;
        margin-left: 35px;
        margin-top: 35px;
      }
      p {
        max-width: 400px;
        margin-left: 35px;
        margin-top: 35px;
      }
    }
  }
}
