@import "../../styles/global";

.steps {
  margin-top: 200px;

  h2 {
    margin-top: 100px;
    margin-left: 100px;
  }

  .steps-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .steps-txt {
      width: 50%;
      margin-left: 100px;
      margin-top: 50px;
    }

    .steps-media {
      width: 50%;

      .steps-video-bg {
        background: $primary-blue;
        width: 100%;
        height: 250px;
        margin-top: 100px;
        margin-left: auto;
        position: relative;
        border-radius: 40px 0 0 0;

        .steps-video-player {
          position: absolute;
          width: 500px;
          height: 275px;
          top: -90px;
          margin-left: 40px;
          background: #fff;
          border-radius: 0 40px 0 0;
          border: 3px solid grey;
          background-image: url("https://images.pexels.com/photos/2147459/pexels-photo-2147459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
          background-size: cover;

          .iframe {
            width: 100%;
            height: 100%;
            border-radius: 0 40px 0 0;
          }

          .play-btn {
            position: absolute;
            top: 0;
            width: 100%;
            border-radius: 0 40px 0 0;
            display: flex;
            justify-content: center;

            img {
              margin-top: 90px;
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}