@import "../../styles/global";

.insurance-img {
  text-align: center;
  padding-bottom: 20px;
  img {
    max-width: 150px;
  }
}

.single-container {
  display: flex;
  justify-content: center;
  width: 100%;


.single-block {
    background-color: white;
    width: 280px;
    margin-right: 20px;
    height: 310px;

    .single {
        display: flex;
        width: 100%;

        .first {
            width: 50%;
            padding: 25px 20px 5px 20px;
        }

        .second {
            width: 50%;
            padding: 15px 20px 0px 50px;

            span {
                color: $accent-blue;
                font-size: 25px;
                font-weight: bold;
                margin: 0 auto;
                display: block;
                text-align: center;
                white-space: nowrap;
                padding-top: 3px;
            }

            .price {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 11px;
            }
        }
    }

    .second-row {
        display: flex;
        width: 100%;

        .first {
            width: 50%;
            padding: 15px 20px 5px 20px;
            font-size: 12px;

            span {
                white-space: nowrap;
            }
        }
    }

    .third-row {
        display: flex;
        width: 100%;

        .first {
            width: 50%;
            padding: 0px 20px 10px 20px;
            font-size: 12px;

            span {
                white-space: nowrap;
            }
        }
    }


    .fourth-row {
        display: flex;
        width: 100%;

        .first {
            width: 70%;
            padding: 0px 20px 20px 20px;
            font-size: 14px;

            span {
                white-space: nowrap;
            }
        }
    }

    .fifth-row {
        display: flex;
        width: 100%;

        .first {
            width: 70%;
            padding: 0px 20px 10px 20px;
            font-size: 12px;

            span {
                color: $primary-blue;
                text-decoration: underline;
            }
        }
    }
}
.lg-info-block {
  background-color: white;
  height: auto;
  width: 400px;
  padding: 5px 0 0 25px;
  border-radius: 0px 0px 80px 0px;
  ul {
    margin-bottom: 75px;
    padding: 0;
    li {
      list-style-type: none;
      width: 100%;
      margin-bottom: 25px;
      .content {
        display: none;
      }
      .properties-title {
        font-size: 28px;
        font-weight: lighter;
      }
      .down-arrow {
        float: right;
        margin-right: 25px;
        margin-top: 10px;
        .not-rotated {
          cursor: pointer;
          width: 25px;
        }
        .rotate-img {
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
      .collapse {
        display: none;
      }
      .collapse.in {
        display: block;
        .txt-bld {
          font-weight: bold;
        }
        ul {
          margin-bottom: 0px;
          li {
            margin-bottom: 5px;
            img {
              width: 15px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
}

@media (max-width: 930px) {
  .single-container {
    flex-direction: column;
    align-items: center;
    .single-block {
      margin-bottom: 20px;
      margin-right: 0;
    }
    .lg-info-block {
      width: 280px;
      padding: 0px;
      font-size: 13px;
      ul {
        margin-left: 15px;
        li {
          .properties-title {
            font-size: 16px;
          }
          .down-arrow {
            margin-top: 5px;
            .not-rotated {
              width: 20px;
            }
            .rotate-img {
              transform: rotate(180deg);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
