@import "../../styles/global";

.loading {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    @media (max-width:768px) {
        width: 100%;
    }

    // @media (max-width:450px) {
    //     width: calc(100% - 40px);
    // }
    .gif {
        width: 50px;
        height: 50px;
    }
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 40px;

    .filter-insurance {
        height: 1000px;
        width: 400px;
        background-color: $accent-blue;
        border-radius: 0 100px 0 0;
        padding-left: 20px;

        @media (max-width:768px) {
            // display: none;
        }

        h2 {
            color: white;
            text-align: left;
            padding: 20px;
        }

        h4 {
            color: white;
            text-align: left;
            padding-left: 20px;
            font-weight: normal;
        }

        p {
            color: white;
            padding-left: 20px;
        }

        .slider {
            -webkit-appearance: none;
            margin-left: 20px;
            width: 50%;
            height: 2px;
            border-radius: 5px;
            background-color: #fff;
        }

        .slider-values {
          .slider-value {
            margin-right: 165px;
            margin-left: 15px;
            color: white;
          }
        }

        .properties {
            padding-top: 50px;
        }

        .dekking {
            padding-top: 10px;
        }

        .gebruik {
            padding-top: 20px;

            .gebruik-select {
                margin-left: 20px;
                border-radius: 10px;
                padding: 5px;
                height: 30px;
                width: 120px;
            }
        }

        .premie {
            padding-top: 20px;

            .premie-select {
                margin-left: 20px;
                border-radius: 10px;
                padding: 5px;
                height: 30px;
                width: 120px;
            }
        }
    }

    .item-block-wrapper {
        width: calc(100% - 480px);
        display: flex;
        margin-left: 60px;
        flex-wrap: wrap;

        .single-block {
            background-color: white;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 50px;
            height: 400px;
            border-radius: 0px 0px 80px 0px;
            width: 400px;

            .single {
                display: flex;
                width: 100%;

                .first {
                    width: 50%;
                    padding: 50px 20px 5px 20px;
                }

                .second {
                    width: 50%;
                    padding: 40px 20px 0px 50px;

                    span {
                        color: $accent-blue;
                        font-size: 30px;
                        font-weight: bold;
                        margin: 0 auto;
                        display: block;
                        text-align: center;
                        white-space: nowrap;
                    }

                    .price {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        padding-top: 8px;
                        font-size: 12px;
                    }
                }
            }

            .second-row {
                display: flex;
                width: 100%;

                .first {
                    width: 50%;
                    padding: 30px 20px 5px 20px;
                    font-size: 14px;

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .third-row {
                display: flex;
                width: 100%;

                .first {
                    width: 50%;
                    padding: 0px 20px 20px 20px;
                    font-size: 14px;

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .fourth-row {
                display: flex;
                width: 100%;

                .first {
                    width: 70%;
                    padding: 0px 20px 20px 20px;
                    font-size: 14px;

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .fifth-row {
                display: flex;
                width: 100%;

                .first {
                    width: 70%;
                    padding: 0px 20px 0px 20px;
                    font-size: 14px;

                    span {
                        color: $primary-blue;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.header-title {
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;

    &.-mobile {
        position: relative;
        text-align: center;
        right: 0;
        top: -50px;
        color: white;

        @media (max-width:451px) {
            top: -10px;
            font-size: 15px;
        }
    }
}

.terug {
    margin: 30px;
}

.terug-mobile {
    margin: 20px 30px 30px 20px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
}


    .filter-insurance {
        height: 1000px;
        width: 400px;
        background-color: $accent-blue;
        border-radius: 0 100px 0 0;
        padding-left: 20px;

        @media (max-width:768px) {
            display: none;
        }

        h2 {
            color: white;
            text-align: left;
            padding: 20px;
        }

        h4 {
            color: white;
            text-align: left;
            padding-left: 20px;
            font-weight: normal;
        }

        p {
            color: white;
            padding-left: 20px;
        }

        .slider {
            -webkit-appearance: none;
            margin-left: 20px;
            width: 50%;
            height: 2px;
            border-radius: 5px;
            background-color: #fff;
        }

        .slider-values {
          .slider-value {
            margin-right: 165px;
            margin-left: 15px;
            color: white;
          }
        }

        .properties {
            padding-top: 50px;
        }

        .dekking {
            padding-top: 10px;
        }

        .gebruik {
            padding-top: 20px;

            .gebruik-select {
                margin-left: 20px;
                border-radius: 10px;
                padding: 5px;
                height: 30px;
                width: 120px;
            }
        }

        .premie {
            padding-top: 20px;

            .premie-select {
                margin-left: 20px;
                border-radius: 10px;
                padding: 5px;
                height: 30px;
                width: 120px;
            }
        }
    }

.slide-options {
    width: 100%;
    text-align: center;
    margin-top: 25px;

    .options {
        display: inline-flex;
        width: 1rem;
        height: 1rem;
        background: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 10px;
        position: relative;

        &:focus {
            background-color: $primary-orange;
        }

        &:active {
            background: $primary-orange;
        }
    }
}

.absolute-filter-icon {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    background-color: $primary-orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 451px) {
        bottom: 50px;
        width: 70px;
        height: 70px;
    }

    @media (max-width: 321px) {
        bottom: 8px;
    }

    .filter-icon {
        width: 50px;
        height: 50px;

        @media (max-width: 451px) {
            width: 25px;
            height: 25px;
        }
    }

}

.mobile-filter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 600px;
    background-color: $accent-blue;

    @media (max-width: 451px) {
        height: 395px;
    }

    .fake-single {
        height: 100%;
        overflow: hidden;
        width: 190%;
        border-radius: 100%;
        background-color: $accent-blue;
        top: 0;
        left: -45%;
        right: 0;
        position: absolute;
        margin-top: -50px;
        z-index: -5;
    }

    @media (max-width: 451px) {
        margin-top: -40px;
    }

    .new-absolute-filter-icon {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 600px;
        background-color: $primary-orange;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 451px) {
            bottom: 410px;
            width: 70px;
            height: 70px;
        }

        .filter-icon {
            width: 50px;
            height: 50px;
        }
    }

    .mobile-filter-insurance {
        height: 1000px;
        width: 400px;
        background-color: $accent-blue;
        border-radius: 0 100px 0 0;
        padding-left: 70px;

        @media (max-width: 451px) {
            margin-top: -25px;
            padding-left: 20px;
        }

        h2 {
            color: white;
            text-align: left;
            padding: 20px;

            @media (max-width: 451px) {
                padding: 0 0 0 10px;
                font-size: 25px;
            }
        }

        h4 {
            color: white;
            text-align: left;
            padding-left: 20px;
            font-weight: normal;
        }

        p {
            color: white;
            padding-left: 20px;

            @media (max-width: 451px) {
                padding-left: 10px;
                font-size: 15px;
            }
        }

        .slider {
            -webkit-appearance: none;
            margin-left: 20px;
            width: 50%;
            height: 2px;
            border-radius: 5px;
            background-color: #fff;

            @media (max-width: 451px) {
                margin-left: 10px;
            }
        }

        .slider-values {
          .slider-value {
            margin-right: 165px;
            margin-left: 15px;
            color: white;

            @media (max-width: 451px) {
                margin-left: 7px;
            }
          }
        }

        .detailwrapper {
            display: flex;
            width: 195%;

            @media (max-width: 451px){
                width: 100%;
            }

            @media (max-width: 321px){
                width: 86%;
            }

            .properties {
                padding-top: 10px;
                width: 50%;

                @media (max-width: 451px) {
                    padding-top: 0;
                }

                h4 {
                    @media (max-width: 451px) {
                        font-size: 15px;
                        padding-left: 10px;
                    }
                }

                p {
                    @media (max-width: 451px) {
                        padding-left: 5px;
                        font-size: 12px;
                    }
                }
            }

            .dekking {
                padding-top: 10px;
                width: 50%;

                @media (max-width: 451px) {
                    padding-top: 0;
                }


                h4 {
                    @media (max-width: 451px) {
                        font-size: 15px;
                        padding-left: 10px;
                    }
                }

                p {
                    @media (max-width: 451px) {
                        padding-left: 5px;
                        font-size: 12px;
                    }
                }
            }
        }

        .premie {
            // padding-top: 20px;

            .premie-select {
                margin-left: 20px;
                border-radius: 10px;
                padding: 5px;
                height: 30px;
                width: 120px;

                @media (max-width: 451px) {
                    margin-left: 10px;
                }
            }
        }
    }

}

.viewport {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel {
        width:100%;
        height: 100%;

        .scroll {
            display: flex;
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            height: 100%;
            -webkit-overflow-scrolling: touch;
            margin: 0;
            padding: 0;
            list-style: none;

            .scroll-item-outer {
                width: 100%;
                height: 100%;

                .scroll-item {
                    width: 100vw;
                    height: 100%;

            .single-block {
                background-color: white;
                margin-bottom: 50px;
                margin-right: 50px;
                height: 400px;
                border-radius: 0px 0px 80px 0px;
                width: 400px;
                scroll-snap-align: center;
                flex-shrink: 0;
                margin: 0 auto;

            @media (max-width: 451px) {
                width: 370px;
            }

            @media (max-width: 376px) {
                width: 330px;
            }

            @media (max-width: 321px) {
                width: 280px;
            }

            .single {
                display: flex;
                width: 100%;

                .first {
                    width: 50%;
                    padding: 50px 20px 5px 20px;

                    @media (max-width: 321px) {
                        width: 15%;

                        .logowidth {
                            width: 100px!important;
                        }
                    }
                }

                .second {
                    width: 50%;
                    padding: 40px 20px 0px 50px;

                    span {
                        color: $accent-blue;
                        font-size: 30px;
                        font-weight: bold;
                        margin: 0 auto;
                        display: block;
                        text-align: center;
                        white-space: nowrap;

                        @media (max-width: 321px) {
                            font-size: 20px;
                        }
                    }

                    .price {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        padding-top: 8px;
                        font-size: 12px;
                    }
                }
            }

            .second-row {
                display: flex;
                width: 100%;

                .first {
                    width: 50%;
                    padding: 30px 20px 5px 20px;
                    font-size: 14px;

                    @media (max-width: 321px) {
                        padding: 30px 0px 5px 20px;
                    }

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .third-row {
                display: flex;
                width: 100%;

                .first {
                    width: 50%;
                    padding: 0px 20px 20px 20px;
                    font-size: 14px;

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .fourth-row {
                display: flex;
                width: 100%;

                .first {
                    width: 70%;
                    padding: 0px 20px 20px 20px;
                    font-size: 14px;

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .fifth-row {
                display: flex;
                width: 100%;

                .first {
                    width: 70%;
                    padding: 0px 20px 0px 20px;
                    font-size: 14px;

                    span {
                        color: $primary-blue;
                        text-decoration: underline;
                    }
                }
            }
        }
                }
            }
        }
    }
}


@supports (scroll-snap-align: start) {
    /* modern scroll snap points */
    .scroll {
      scroll-snap-type: x mandatory;
    }
    .scroll-item-outer {
      scroll-snap-align: center;
    }
  }

  @supports not (scroll-snap-align: start) {
    /* old scroll snap points spec */
    .scroll {
      -webkit-scroll-snap-type: mandatory;
              scroll-snap-type: mandatory;
      -webkit-scroll-snap-destination: 0 0;
              scroll-snap-destination: 0 0;
      -webkit-scroll-snap-points-x: repeat(100%);
              scroll-snap-points-x: repeat(100%);
              scrollbar-width: none!important;

              &::-webkit-scrollbar {
                display: none!important;
            }
    }

    .scroll-item-outer {
      scroll-snap-coordinate: 0 0;
    }
  }
