@import "../../styles/global";

.single-insurance {
    width: 100%;
    height: 100%;

    .single-wrapper {
        background-color: $primary-blue;
        margin-top: 100px;

        h3 {
            color: white;
            text-align: center;

            @media (max-width: 320px) {
                font-size: 20px;
            }
        }

        .fake-single {
            height: 100%;
            overflow: hidden;
            width: 190%;
            border-radius: 100%;
            background-color: $primary-blue;
            top: 0;
            left: -45%;
            right: 0;
            position: absolute;
            margin-top: 95px;
            z-index: -3;
            // @media (max-width: 768px) {
            //     margin-top: 50px;
            // }
            // @media (max-width: 450px) {
            //     margin-top: 50px;
            // }
        }

    }
}
// Tablet Portrait
@media (max-width: 769px) {
  .single-insurance {
    width: 100%;
    height: 100%;
    .single-wrapper {
      // padding-bottom: 139px;
      padding-bottom: 280px;
      .fake-single {
        width: 100%;
        height: 200px;
        left: 0;
        margin-top: 42px;
      }
    }
  }
}

//Mobile Portrait

// Larger mobile devices
@media (max-width: 481px) {
  .single-insurance {
    width: 100%;
    height: 100%;
    .single-wrapper {
      padding-bottom: 75px; //eerst 50px
      .fake-single {
        width: 100%;
        height: 200px;
        left: 0;
        margin-top: 45px;
      }
    }
  }
}

@media (min-height: 890px) and (max-height:896px) {
  .single-insurance {
    width: 100%;
    height: 100%;
    .single-wrapper {
      padding-bottom: 150px; //eerst 50px
      .fake-single {
        width: 100%;
        height: 200px;
        left: 0;
        margin-top: 45px;
      }
    }
  }
}

// Mobile & Tablet Landscape

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: landscape) {
    .single-insurance {
      .single-wrapper {
        margin-top: 130px;
        .fake-single {
          width: 100%;
          height: 200px;
          left: 0;
          border-radius: 100%;
          margin-top: 107px;
        }
      }
    }
}

@media only screen
  and (min-width: 480px)
  and (max-width: 768px)
  and (orientation: landscape) {
    .single-insurance {
      .single-wrapper {
        margin-top: 130px;
        .fake-single {
          width: 100%;
          height: 200px;
          left: 0;
          border-radius: 100%;
          margin-top: 73px;
        }
      }
    }
}
