@import "../../styles/global";

.single-insurance {
    width: 100%;
    height: 100%;
    .terug {
        margin: 30px;
    }

    .terug-mobile {
        margin: 20px 30px 30px 20px;
        display: none;

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }

    .single-wrappers {
        background-color: $primary-blue;
        margin-top: 100px;
        height: 100%;
        width: 100%;

        h1 {
          color: white;
          text-align: center;
          font-size: 20px;
          display: none;
        }

        h3 {
            color: white;
            text-align: center;
        }

        .fake-single {
            height: 100%;
            overflow: hidden;
            width: 190%;
            border-radius: 100%;
            background-color: $primary-blue;
            top: 0;
            left: -45%;
            right: 0;
            position: absolute;
            margin-top: 95px;
            z-index: -3;
        }

    }
}

// Mediaqueries
@media (max-width: 769px) {
  .single-insurance {
    .header-title {
      display: none;
    }
    .terug {
      display: none;
    }
    .terug-mobile {
      display: block;
    }
    .single-wrappers {
      h1 {
        display: block;
      }
      .fake-single {
        margin-top: 50px;
      }
    }
  }
}

// Tablet Portrait
@media (max-width: 769px) {
  .single-insurance {
    width: 100%;
    height: 100%;
    .single-wrappers {
      padding-bottom: 139px;
      .fake-single {
        width: 100%;
        height: 200px;
        left: 0;
        margin-top: 42px;
      }
    }
  }
}

//Mobile Portrait

// Larger mobile devices
@media (max-width: 481px) {
  .single-insurance {
    width: 100%;
    height: 100%;
    .single-wrappers {
      padding-bottom: 50px;
      .fake-single {
        width: 100%;
        height: 200px;
        left: 0;
        margin-top: 45px;
      }
    }
  }
}

// Mobile & Tablet landscape

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: landscape) {
    .single-insurance {
      .single-wrappers {
        margin-top: 130px;
        padding-bottom: 113px;
        .fake-single {
          width: 100%;
          height: 200px;
          left: 0;
          border-radius: 100%;
          margin-top: 107px;
        }
      }
    }
}

@media only screen
  and (min-width: 480px)
  and (max-width: 768px)
  and (orientation: landscape) {
    .single-insurance {
      .single-wrappers {
        margin-top: 130px;
        padding-bottom: 50px;
        .fake-single {
          width: 100%;
          height: 200px;
          left: 0;
          border-radius: 100%;
          margin-top: 73px;
        }
      }
    }
}
