@import "../../styles/global";


.form {
  border-radius: 0 40px 0 0;
  width: 500px;
  height: 450px;
  background-color: white;
  position: absolute;
  top: 150px;
  right: 100px;
  box-shadow: 3px 3px 8px -1px rgba(128, 125, 128, 1);

  .form-wrapper {
    margin: 40px;
    color: black;

    h1 {
      font-weight: bold;
      font-size: 22px;
    }

    .kenteken-wrap {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      width: 100%;

      .flex-wrap {

        .kenteken {
          font-weight: bold;
          font-size: 16px;
        }

        .m-l {
          margin-left: 25px;
        }

        .mt {
          margin-top: 17px;
        }

        .error {
          outline: 0;
          border-color: red;
          animation-name: bounce;
          animation-duration: 0.4s;
          animation-delay: 0.20s;
        }

        .disabled {
          border: 2px solid grey !important;
        }

        .checkbox-span {
          font-weight: bold;
          font-size: 16px;
        }

        .required {
          color: $primary-blue;
        }

        select {
          padding: 10px 10px;
          margin-top: 10px;
          font-size: 16px;
          border: 2px solid black;
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 10px;
        }

        input[type=text]:focus {
          box-shadow: 0 0 2pt 1pt $primary-blue;
        }

        input {
          padding: 10px 10px;
          border-radius: 10px;
          border: 2px solid black;
          margin: 10px 10px 0 0;
          font-size: 16px;
          outline: 0;

          &::placeholder {
            font-size: 16px;
          }
        }

        .adress {
          width: 40px;
          text-align: center;
        }
      }

      .flex-center {
        width: 100%;
        padding-top: 30px;
        position: relative;
      }
      .flex-half {
        width: 195px;
        position: absolute;
        &.first {
        }
        &.second {
          right: 0;
        }
      }
      .flex-half-first {
        width: 50%;
        margin-right: 15px;
      }
      .flex-half-second {
        width: 50%;
        margin-right: 15px;
      }
    }
  }
}

.insurance-types {
  width: 100%;
  height: 143px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;

  .type-wrapper {
    display: inline-block;
    height: 100%;
    width: 120px;
    .type-label {
      height: 100%;
      display: block;
      border: 2px solid black;
      border-radius: 10px;
      &:hover {
        -webkit-box-shadow: 0px 0px 3px 1px $primary-blue;
        -moz-box-shadow: 0px 0px 3px 1px $primary-blue;
        box-shadow: 0px 0px 3px 1px $primary-blue;
        cursor: pointer;
      }
      .info-button {
        height: 30px;
        width: 30px;
        font-size: 20px;
        font-weight: bold;
        margin-left: auto;
        margin-top: 5px;
        text-align: center;
        position: relative;
        color: $primary-blue;

        &:hover {
          color: gray;
          .help-wrapper {
            display: block;
          }
        }
        .help-wrapper {
          display: none;
          position: absolute;
          width: 150px;
          height: auto;
          background: white;
          border: 2px solid black;
          bottom: 0;
          left: -105px;
          margin-bottom: 60px;
          p {
            color: black;
            font-size: 10px;
            font-weight: normal;
            text-align: left;
            margin: 10px;
          }
        }
      }
      h4 {
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: center;
      }
      .circle-wrapper {
        width: 30px;
        height: 30px;
        margin: auto;
        border-radius: 30px;
        border: 2px solid black;
        .circle {
          border-radius: 100%;
          margin: 5px;
          width: 20px;
          height: 20px;
          -webkit-box-shadow: 0px 0px 3px 1px $primary-blue;
          -moz-box-shadow: 0px 0px 3px 1px $primary-blue;
          box-shadow: 0px 0px 3px 1px $primary-blue;
          background-color: $primary-blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .form {
    border-radius: 0 40px 0 0;
    width: 500px;
    height: 450px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 75px;
    position: unset;
    box-shadow: 3px 3px 8px -1px rgba(128, 125, 128, 1);
  
    .form-wrapper {
      margin: 40px;
      padding-top: 20px;
      color: black;
    }
  }
}

@media only screen and (max-width: 690px) {
  .form {
    border-radius: 0 40px 0 0;
    width: calc(100% - 50px);
    height: auto;
    margin-left: 25px;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 75px;
    position: unset;
    box-shadow: 3px 3px 8px -1px rgba(128, 125, 128, 1);
  
    .form-wrapper {
      margin: 40px;
      padding-top: 20px;
      color: black;
  
      h1 {
        font-weight: bold;
        font-size: 16px;
      }
  
      .kenteken-wrap {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        width: 100%;
  
        .flex-wrap {
          min-height: 55px;
          padding-top: 5px;
          .kenteken {
            font-weight: bold;
            font-size: 12px;
          }
  
          .m-l {
            margin-left: 0px;
          }
  
          .mt {
            margin-top: 0px;
          }
  
          .error {
            outline: 0;
            border-color: red;
            animation-name: bounce;
            animation-duration: 0.4s;
            animation-delay: 0.20s;
          }
  
          .disabled {
            border: 2px solid grey !important;
          }
  
          .checkbox-span {
            font-weight: bold;
            font-size: 16px;
          }
  
          .required {
            color: $primary-blue;
          }
  
          select {
            padding: 10px 10px;
            margin-top: 10px;
            font-size: 16px;
            border: 2px solid black;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 10px;
          }
  
          input[type=text]:focus {
            box-shadow: 0 0 2pt 1pt $primary-blue;
          }
  
          input {
            padding: 10px 10px;
            border-radius: 10px;
            border: 2px solid black;
            margin: 10px 10px 0 0;
            font-size: 16px;
            outline: 0;
  
            &::placeholder {
              font-size: 16px;
            }
          }
  
          .adress {
            width: 60px;
            text-align: center;
          }
        }
  
        .flex-center {
          width: 100%;
          padding-top: 30px;
          padding-bottom: 20px;
          position: relative;
        }
        .flex-half {
          width: calc(50% - 5px);
          position: absolute;
          &.first {
          }
          &.second {
            right: 0;
          }
        }
        .flex-half-first {
          width: 50%;
          margin-right: 15px;
        }
        .flex-half-second {
          width: 50%;
          margin-right: 15px;
        }
      }
    }
  }
  .insurance-types {
    width: 100%;
    height: 120px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  
    .type-wrapper {
      display: inline-block;
      height: 100%;
      width: 60px;
      .type-label {
        height: 100%;
        display: block;
        border: 2px solid black;
        border-radius: 10px;
        &:hover {
          -webkit-box-shadow: 0px 0px 3px 1px $primary-blue;
          -moz-box-shadow: 0px 0px 3px 1px $primary-blue;
          box-shadow: 0px 0px 3px 1px $primary-blue;
          cursor: pointer;
        }
        .info-button {
          height: 15px;
          width: 15px;
          font-size: 12px;
          font-weight: bold;
          margin-left: auto;
          margin-top: 5px;
          text-align: center;
          position: relative;
  
          &:hover {
            color: gray;
            .help-wrapper {
              display: block;
            }
          }
          .help-wrapper {
            display: none;
            position: absolute;
            width: 150px;
            height: auto;
            background: white;
            border: 2px solid black;
            bottom: 0;
            left: -105px;
            margin-bottom: 60px;
            p {
              color: black;
              font-size: 10px;
              font-weight: normal;
              text-align: left;
              margin: 10px;
            }
          }
        }
        h4 {
          margin-top: 5px;
          margin-bottom: 20px;
          text-align: center;
          font-size: 12px;
        }
        .circle-wrapper {
          width: 30px;
          height: 30px;
          margin: auto;
          border-radius: 30px;
          border: 2px solid black;
          .circle {
            border-radius: 100%;
            margin: 5px;
            width: 20px;
            height: 20px;
            -webkit-box-shadow: 0px 0px 3px 1px $primary-blue;
            -moz-box-shadow: 0px 0px 3px 1px $primary-blue;
            box-shadow: 0px 0px 3px 1px $primary-blue;
            background-color: $primary-blue;
          }
        }
      }
    }
  }
}


@keyframes bounce {

  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

.three {
  padding-top: 29px!important;
}